/ Flash toast notifications container - Flowbite style
#flash-container.fixed.top-5.right-5.z-50.space-y-3 style="min-width: 350px; max-width: 400px;"
  - flash.each do |type, message|
    = render 'shared/flash_message', message:, type:
