/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Bell icon hover effect */
.bell-icon-container {
  position: relative;
  display: inline-block;
}

.bell-icon-container.active .bell-slash-icon {
  display: none;
}

.bell-icon-container.active:hover .bell-icon {
  display: none;
}

.bell-icon-container.active:hover .bell-slash-icon {
  display: inline-block;
}

.bell-icon-container.inactive .bell-icon {
  display: none;
}

.bell-icon-container.inactive:hover .bell-slash-icon {
  display: none;
}

.bell-icon-container.inactive:hover .bell-icon {
  display: inline-block;
}
